.wrapper {
    width: 100%;
    background-color: #fff;
}

.container {
    width: 100%;
    padding: 0 15px;
}

.header {
    margin-left: 15px;
    color: #454360;
    margin-bottom: 60px;
    text-align: start;
    font-size: 3.6rem;
    font-weight: 700;
}

.title-list {
    list-style: none;
    padding: 0;
    margin-bottom: 25px;
    display: flex;
    text-align: start;
}

.title-item {
    margin-right: 30px;
    padding: 4px 6px;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 700;
}

.active {
    color: #FF4C60;
}

.content {
    width: 100%;
}

.row {
    justify-content: space-evenly;
    display: flex;
}

.img-item {
    display: flex;
    justify-content: center;
    width: 33%;
    border-radius: 16px;
    padding: 20px 0px;
    z-index: 2;
    margin: 15px 25px;
    box-shadow: 0 0 5px rgb(150 148 148);
    position: relative;
    &:hover .info {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgb(44, 73, 233);
        opacity: 0.8;
        border-radius: 16px;
        .term {
            display: flex;
            top: -8%;
            animation: down .6s 1 ease;
            // animation: name duration timing-function delay iteration-count direction fill-mode;
        }
        .title {
            display: block;
            top: 40%;
            animation: up .6s ease;
        }
        .more-btn {
            display: block;
        }
    }
}

@keyframes down {
    from {
        top: -15%;
        opacity: 0;
        // left: 10%;
    }
    to {
        top: -8%;
        opacity: 1;
        // left: 10%;
    }
}

@keyframes up {
    from {
        top: 50%;
        opacity: 0;
    }
    to {
        top: 40%;
        opacity: 1;
    }
}

.term {
    position: absolute;
    // top: -18%;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    left: 10%;
    font-size: 1.6rem;
    padding: 0 8px;
    border-radius: 12px;
    background-color: #FF4C60;
    color: #fff;
    height: 50px;
    display: flex;
    display: none;
    align-items: end;
}

.title {
    position: absolute;
    // top: 50%;
    left: 10%;
    color: #fff;
    font-size: 2.2rem;
    display: none;
    font-weight: 700;
}

.more-btn {
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(221, 221, 9);
    display: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111;
    opacity: 0.8;
    z-index: 3;
    display: none;
}

.close {
    position: absolute;
    right: 0px;
    top: 0;
    background-color: transparent;
    padding: 0px 12px;
    font-size: 3.6rem;
    color: #fff;
}

.dark {
    display: block !important;
}

.img-modal {
    display: grid;
    place-items: center;
    height: 100vh;
    opacity: 0;
}

.imgModalShow {
    opacity: 1;
}

.img {
    width: 100%;
    // box-shadow: 0 0 5px rgb(150 148 148);
}